.car-model-library-container {
    display: flex;
    flex-direction: column;
 }
 
 .char-container {
     display: flex;
     flex-direction: row;
 
     span {
         font-weight: 300;
         font-family: 'Lato-Regular';
         font-size: 30px;
         color: #222a3e;
     }
 }
 
 .car-model-card-list-container {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 
     flex-wrap: wrap;
     gap: 10px;
 }

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.something {
    width: 15%;
}

.something-else {
    width: 15%;
}

.app {
    width: 100%;
    min-height: 800px;
    display: flex;
}

// @media (max-width: 600px) {
//     .container {
//         height: 450px;
//     }
// }

// /* For screens between 600px and 960px */
// @media (min-width: 600px) and (max-width: 960px) {
//     .container {
//         height: 300px;
//     }
// }

/* For screens larger than 960px */
// @media (min-width: 960px) {
//     .container {
//         height: 900px;
//     }
// }