<div class="footer-container">
    <div class="footer-column">
        <span>Facebook</span>
        <span>Instagram</span>
        <span>Twitter</span>
        <span>Youtube</span>
        <span>TikTok</span>
    </div>
    <div class="footer-column">
        <span>MHL Motors sections</span>
        <span>Vehicles</span>
        <span>Technical Data</span>
        <span>Buy Parts</span>
    </div>
    <div class="footer-column">
        <span>Blog</span>
        <span>Help</span>
        <span>Send us a message</span>
        <span>Publicity</span>
        <span>GDPR</span>
        <span>Cookies settings</span>
    </div>
    <div class="footer-column">
        <span>Utilities</span>
        <span>Price list</span>
        <span>Site map</span>
        <span>Cities map</span>
        <span>Contact buy/sell</span>
    </div>
    <div class="footer-column">
        <span class="footer-tile">Customer Support</span>
        <span>Adrian Mahalu</span>
        <span>076 666 666</span>
        <span>Monday-Friday (09:00 - 17:00)</span>
    </div>
</div>
<!-- <div class="filler-footer">
    <div class="filler"></div>
    <span class="footer-tile">You can find us on</span>
    <div class="filler"></div>
    <span>Facebook</span>
    <span>Instagram</span>
    <span>Twitter</span>
    <span>Youtube</span>
</div>
<div class="filler-footer">
    <div class="filler"></div>
    <span class="footer-tile">Check Engine sections</span>
    <div class="filler"></div>
    <span>Vehicles</span>
    <span>Technical Data</span>
    <span>Buy parts</span>
</div>
<div class="filler-footer">
    <div class="filler"></div>
    <span class="footer-tile">Check Engine</span>
    <div class="filler"></div>
    <span>Blog</span>
    <span>Help</span>
    <span>Send us a message</span>
    <span>Publicity</span>
    <span>GDPR</span>
    <span>Cookies settings</span>
</div>
<div class="filler-footer">
    <div class="filler"></div>
    <span class="footer-tile">Utilities</span>
    <div class="filler"></div>
    <span>Price list</span>
    <span>Site map</span>
    <span>Cities map</span>
    <span>Contact buy/sell</span>
</div>
<div class="filler-footer">
    <div class="filler"></div>
    <span class="footer-tile">Customer Support</span>
    <div class="filler"></div>
    <span>Adrian Mahalu</span>
    <span>076 666 666</span>
    <span>Monday-Friday (09:00 - 17:00)</span>
</div> -->
