<div class="navbar-outter-container">
    <div class="navbar-inner-container">
      <div class="app-logo-container">
        <a [routerLink]="''">
          <img [src]="appLogoSrc" 
          (mouseenter)="onBrandLogoHover()"
          (mouseleave)="onBrandLogoLeave()"
          (click)="onBrandLogoClick()"/>
        </a>
      </div>
      <div class="motto-container">
        <span>One of the biggest<br/>vehicle markets</span>
      </div>
      <div class="toolbox">
        <a [routerLink]="'PageNotFound'">
          <div class="tool">
            <img [src]="navbarIcons.hamburgerMenuIconsSrcs.carIconDefaultSrc"/>
            <span>Cars</span>
          </div>
        </a>
        <a [routerLink]="'PageNotFound'">
        <div class="tool">
          <img [src]="navbarIcons.hamburgerMenuIconsSrcs.partsAndAccessoriesIconDefaultSrc"/>
          <span>Parts & Accessories</span>
        </div>
        </a>
        <a [routerLink]="'CarServices'">
        <div class="tool">
          <img [src]="navbarIcons.hamburgerMenuIconsSrcs.carServicesIconDefaultSrc"/>
          <span>Car Services</span>
        </div>
        </a>
        <a [routerLink]="'PageNotFound'">
        <div class="tool">
          <img [src]="navbarIcons.hamburgerMenuIconsSrcs.technicalDataIconDefaultSrc"/>
          <span>Technical Data</span>
        </div>
      </a>
      </div>
      <div [ngClass]="{'hamburger-menu-container-open': isHamburgerMenuActive, 'hamburger-menu-container-closed': !isHamburgerMenuActive}">
        @if (showHamburgerMenuIcon){
          <div class="hamburger-icon-container" (click)="toggleHamburgerMenu()">
            <img [src]="hamburgerMenuOpenLogoSrc"/>
          </div>
        }
        @if (isHamburgerMenuActive){
          <div class="hamburger-menu-container">
            <div class="menu-row-container">
              <span>Menu</span>
              <div class="hamburger-x-icon-container" (click)="toggleHamburgerMenu()">
                <img [src]="hamburgerMenuCloseLogoSrc" />
                </div>
            </div>
            <div class="underscore-container">
              <div>
                <hr/>
              </div>
            </div>
            <div class="my-mhl-motors-title">
              <span>My MHL Motors</span>
            </div>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.carIconDefaultSrc"/>
              <span>Cars</span>
            </div>
            </a>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.partsAndAccessoriesIconDefaultSrc"/>
              <span>Parts & Accessories</span>
            </div>
            </a>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.carServicesIconDefaultSrc"/>
              <span>Car Services</span>
            </div>
            </a>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.technicalDataIconDefaultSrc"/>
              <span>Technical Data</span>
            </div>
            </a>
            <div class="underscore-container">
              <div>
                <hr/>
              </div>
            </div>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.messagesIconDefaultSrc"/>
              <span>Messages</span>
            </div>
            </a>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.mySearchesIconDefaultSrc"/>
              <span>My Searches</span>
            </div>
            </a>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.favoritesIconDefaultSrc"/>
              <span>Favorites</span>
            </div>
            </a>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.userProfileIconDefaultSrc"/>
              <span>User Profile</span>
            </div>
            </a>
            <div class="underscore-container">
              <div>
                <hr/>
              </div>
            </div>
            <a [routerLink]="'PageNotFound'">
            <div class="pair">
              <img [src]="navbarIcons.hamburgerMenuIconsSrcs.newAdIconDefaultSrc"/>
              <span>New Ad</span>
            </div>
            </a>
            <a [routerLink]="'PageNotFound'">
            <div class="login">
              <span>Log In / Sign Up</span>
            </div>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
  