.brand-card {
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px 7px 7px 7px;
    background-color: #f0f2f5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
}

.brand-logo {
    width: 70%;
    height: 70%;
}

.brand-name {
    font-weight: 300;
    font-size: 20px;
    color: #222a3e;
}

mat-card-content.mat-mdc-card-content:last-child {
    padding-bottom: 0 !important;
}

.brand-card:hover{
    background-color: var(--mhl-dark-grey);
    
    span{
        color: #7fc4f2;
    }
}
