<div class="container">
  <mat-grid-list cols="10" rowHeight="250px">
    <mat-grid-tile colspan="7" rowspan="2">
      <div class="image-slider-container">
        <app-car-image-slider></app-car-image-slider>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <div class="seller-container">
        <img src="assets/navbar/navbar-profile-icon-default.svg" alt=""/>
        <p>{{ ad.sellerName }}</p>
        <p>{{ ad.phoneNumber }}</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="1">
      <div class="details-container">
        <div class="title-price-container">
          <span><h2>{{ad.title}}</h2></span>
          <span><h3>{{ad.price}} $</h3></span>
        </div>
        <div class="car-data-container">
          <div>
            <img src="assets/ads/max-speed-logo.svg" alt=""/>
            <span><h3>{{ad.kilometers}}</h3></span>
          </div>
          <div>
            <img src="assets/ads/horsepower-logo.svg" alt=""/>
            <span><h3>{{ad.horsepower}}</h3></span>
          </div>
          <div>
            <img src="assets/ads/gas-station-logo.svg" alt=""/>
            <span><h3>{{ad.fuel}}</h3></span>
          </div>
          <div>
            <img src="assets/ads/transmission-logo.svg" alt=""/>
            <span><h3>{{ad.gearbox}}</h3></span>
          </div>
          <div>
            <img src="assets/ads/calendar-logo.svg" alt=""/>
            <span><h3>{{ad.dateOfFabrication}}</h3></span>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="3">
      <div class="contact-container">
        <span>
          <h3>DREPTURILE CONSUMATORILOR</h3>
Acest anunț a fost publicat de către un vânzător privat.
Ca urmare, legile privind drepturile consumatorilor nu se aplică în cazul achizițiilor pe care le faci de la acest vânzător. Este deosebit de important să respecți sfaturile noastre cu privire la siguranță în interacțiunile cu vânzători privați.
Există mai multe entități implicate atunci când cumperi un produs sau un serviciu de pe MHL. Fiecare dintre acestea au următoarele responsabilități:
MHL Motors este responsabil pentru furnizarea serviciilor online, precum un cont MHL, publicarea și promovarea anunțurilor, posibilitatea de a cumpăra produse cu Livrare prin MHL Motors și alte servicii descrise în Condițiile noastre de utilizare.
Vânzătorii privați sunt responsabili pentru vânzarea și trimiterea produsului sau prestarea serviciului exact așa cum a fost descris în anunț. Dacă ai întrebări legate de achiziția ta, îți recomandăm să contactezi direct vânzătorul privat.
Partenerii noștri de livrare sunt responsabili pentru livrarea produselor către tine, conform descrierii din Condițiile de utilizare ale acestora.
Mergi la centrul nostru de ajutor pentru informații detaliate cu privire la drepturile consumatorilor.
        </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="2">
        <div class="description-container">
          <div>
            <span>
              {{ad.adDescription}}
            </span>
          </div>
          <div style="display: flex; align-items: center; gap: 10px;">
            <img src="assets/ads/fuel-economy-logo.svg" alt=""/>
            <span>19.239</span>
          </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

