<div class="container">
  <mat-grid-list cols="8" rowHeight="500px">
    <mat-grid-tile colspan="6" rowspan="1" style="background-color: lightpink;">
      <div class="undiv">
        <p>{{ ad.title }}</p>
        <p>{{ ad.price }}</p>

      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" style="background-color: lightgreen;">
      Two
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan="1" style="background-color: blue;">
      <div class="undiv">
        <p>WOW</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

