<div class="container">
    <mat-card class="card">
        <mat-card-content>
          <span class="title">Basic package</span>
          <br/><br/>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <br/>
          <span>200 Euro</span>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
          <span class="title">Advanced<br/>package</span>
          <br/><br/>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <br/>
          <span>300 Euro</span>
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-content>
          <span class="title">Full package</span>
          <br/><br/>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <span>Lorem Ipsum is simply dummy text of\tStart with 'Lorem\nipsum dolor </span>
          <br/>
          <span>450 Euro</span>
        </mat-card-content>
    </mat-card>
</div>