table {
    background-color: #f0f2f5;
    color: #222a3e;
    font-family: "Lato-Regular", sans-serif;
    font-size: 16px;
    box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);

  }
  
table td {
    padding: 8px;
    color: #222a3e;
}
  
table strong {
  color: #222a3e;
}

h2 {
    font-size: 30px;
    font-family: 'Lato-Regular';
    color: #222a3e;
    font-weight: 300;
}
