.image-slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.slider-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
    border-radius: 50%;
    padding: 10px;
}

.slider-nav-button:nth-child(1) {
    left: 10px;
}

.slider-nav-button:nth-child(2) {
    right: 10px;
}

.indicator-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.indicator-container .active {
    color: #333;
}
