.ad-snippet-container {
    width: 100%;
    min-width: 1000px;
    height: 168px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;

    background-color: #f0f2f5;
    border-radius: 7px 7px 7px 7px;
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);

    span {
        font-family: "Lato-Regular";
        color: #222a3e;
        font-size: 16px;
    }
}

.ad-snippet-photo-container {
    width: 10%;
    min-width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;

    img {
        width: 216px;
        height: 152px;
    }
}

.ad-snippet-details-container {
    width: 90%;
    min-width: 700px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ad-title-price-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .ad-title {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;

        span {
            font-size: 20px;
        }
    }

    .ad-price {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-content: center;
        margin-right: 8px;

        span {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.ad-negociable-container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-start;

    span {
        margin-right: 8px;
        font-size: 12px;
    }
}

.ad-location-year-container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-end;

    span {
        font-size: 12px;
    }
}

.ad-details-favorite-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .ad-details {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        gap: 5px;
    }

    .favorite-icon-container {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        flex-wrap: wrap;
        align-content: center;
    }
}

.icon {
    width: 20px;
    height: 20px;
}
