<a [routerLink]="guid">
    <div class="ad-snippet-container">
        <div class="ad-snippet-photo-container">
            <img src="../../../../assets/cars/logos/BMW/BMWX6F16GenerationLogo.png"/>
            <!-- promoted ad -->
        </div>
        <div class="ad-snippet-details-container">
            <div class="ad-title-price-container">
                <div class="ad-title">
                    <span>Audi A5, Sportback, S-Line, Matrix, Automat, fab 2018</span>
                </div>
                <div class="ad-price">
                    <span>2 324 293 E</span>
                </div>
            </div>
            <div class="ad-negociable-container">
                <span>Negociable</span>
            </div>
            <div class="ad-location-year-container">
                <span>Iasi - Republished on 15.07.2023</span>
            </div>
            <div class="ad-details-favorite-container">
                <div class="ad-details">
                    <img class="icon" src="../../../../assets/ads/calendar-logo.svg"/>
                    <span>2022</span>
                    <span>|</span>
                    <img class="icon" src="../../../../assets/ads/speedometer-logo.svg"/>
                    <span>293 294 Km</span>
                    <span>|</span>
                    <img class="icon" src="../../../../assets/ads/horsepower-logo.svg"/>
                    <span>530 HP</span>
                    <span>|</span>
                    <img class="icon" src="../../../../assets/ads/transmission-logo.svg"/>
                    <span>Automatic</span>
                    <span>|</span>
                    <img class="icon" src="../../../../assets/ads/gas-station-logo.svg"/>
                    <span>Petrol</span>
                </div>
                <div class="favorite-icon-container">
                    <img class="icon" src="../../../../assets/ads/heart-logo.svg"/>
                </div>
            </div>
        </div>
    </div>
</a>
