.app {
    display: flex;
    justify-content: center;
    align-content: center;
}

.something {
    width: 20%;
}

.something-else {
    width: 20%;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 15px;
}